i.fa.fa-sort-desc {
    position: relative;
    left: -8px;
    cursor: pointer;
    top: 2px;
}
i.fa.fa-sort-asc{
  position: relative;
    left: 2px;
    cursor: pointer;
    top: -1px;
}
/*.sorting-outer{
  position: absolute;
}*/
.sorting-outer a{
  color: #ef8157 ;
}
.delete-file{
  position: relative;
}
span.cross{
    position: absolute;
    z-index: 10;
    right: -11px;
     display: none;
    top: -12px;
    cursor: pointer;
}
.delete-file:hover span.cross{
  display: block;
}