i.fa.fa-sort-desc {
    position: relative;
    left: -8px;
    cursor: pointer;
    top: 2px;
}
i.fa.fa-sort-asc{
  position: relative;
    left: 2px;
    cursor: pointer;
    top: -1px;
}
/*.sorting-outer{
  position: absolute;
}*/
.sorting-outer a{
  color: #ef8157 ;
}
.delete-file{
  position: relative;
}
span.cross{
    position: absolute;
    z-index: 10;
    right: -11px;
     display: none;
    top: -12px;
    cursor: pointer;
}
span.edit{
     display:none; 
     position: absolute;
    top: -12px;
    right: 10px;
}
.delete-file:hover span.cross,
.delete-file:hover span.edit{
  display: block;
}

.attachments-files{
    float: left;
    width: 25px;
    margin-right: 10px;
}
.attachments-files span{
    font-size: 9px;
    line-height: 10px;
    display: inline-block;
}
.attachments-files img{
  width: 100%;
}

.delete-file img{
  height: 25px;
}